<main>
    {# INSERT SECTION #}
    <h4>Insert a new movie</h4>

    <form action="{% url 'index' %}" method="POST" class="form-insert-movie form-movie-tag">
        {% csrf_token %}
        {{ insert_form.as_p }}
        <div class="form-insert-movie">
            <input type="submit" value="Insert">
        </div>
    </form>

    <h3>Our list (refresh by Ajax)</h3>
      <span>Total movies:<span id="movie-counter-ajax">-1</span></span>
    <ul id="ul_movie">
    </ul>

    <h3>Our list</h3>
    <div class="movie-counter">
        <span>Total movies: </span>
        <span> {{  movies_count }}</span>
    </div>
    {% if movies_count > 0 %}
    <ul>
        {% for movie in movie_list %}
        <li>{{ movie.title }}</li>
        {% endfor %}
    </ul>
    {% else %}
    {# Add static css for coloring this to red #}
    <p class="no-movies">No movies yet</p>
    {% endif %}

</main>
